.about {
  /* margin-top: 7rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
  justify-content: space-between;
  position: relative;
}
.about-info {
  width: 80%;
}
.about-flex {
  width: 80%;
  margin: auto !important;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.about > * {
  margin: auto;
}
.about-left {
  /* width: 620px; */
  margin: 2rem 12rem 0 12rem;
}

.subheading {
  font-size: 2em;
}
.head {
  font-size: 3em;
  /* font-weight: bold; */
}
.about-right > img {
  /* margin-top: 5rem; */
  margin-bottom: 1rem;
  position: relative;
  width: 450px;
  height: auto;
  overflow: hidden;
  animation: shake-horizontal 12s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite
    both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-9px);
  }
  20%,
  40%,
  60% {
    transform: translateY(9px);
  }
  80% {
    transform: translateY(7px);
  }
  90% {
    transform: translateY(-7px);
  }
}
  /* animation: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: transform ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@keyframes updown {
  0% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
} */
p {
  font-size: 1.1em;
}

.readmore-frame {
  position: absolute;
  bottom: 0;
  right: 40rem;
}
.readmore-frame > img {
  width: 330px;
  height: auto;
}
.about-right {
  position: relative;
}
.readmore-frame {
  position: absolute;
  left: -6rem;
  bottom: -10rem;
}
@media (max-width: 1500px) {
  .about {
    margin-top: 7rem;
  }
  .responsiveabout {
    width: 30%;
    height: auto;
  }
  .responsivetoken{
    width: 72%;
    height: auto;
  }
  .token {
    margin-top: -32px;
  }
}
@media (max-width: 860px) {
  .about {
    padding: 0 1rem;
  }

  .readmore-frame {
    position: relative;
    left: 0;
    top: 0;
    /* width: 250px; */
  }
  .readmore-frame > img {
    /* width: 250px; */
    margin-top: 1rem;
  }
  .about-left {
    margin: 10rem 1rem 0 1rem;
  }
  .responsiveabout {
    width: 70%;
    height: auto;
  }
  .responsivetoken{
    width: 100%;
    height: auto;
  }
  .token {
    margin-top: -15px;
  }
  .about-flex {
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
  }
  .about-info {
    width: 90%;
    margin: auto;
  }
}
.red {
  background-color: red;
}
@media (max-width: 720px) {
  .readmore-frame > img {
    width: 250px;
  }
  .about-right > img {
    width: 300px;
  }
  .responsiveabout {
    width: 70%;
    height: auto;
  }
  .responsivetoken{
    width: 100%;
    height: auto;
  }
  .token {
    margin-top: -15px;
  }
}

@media (max-width: 520px) {
    .about-left {
    margin: 10rem .5rem 0 .5rem;
  }
  .responsiveabout {
    width: 40%;
    height: auto;
  }
  .responsivetoken{
    width: 100%;
    height: auto;
  }
  .token {
    margin-top: -15px;
  }
  
}
@media (max-width: 420px) {
  .about {
    margin-top: 0rem;
  }
  .about-left {
  margin: 10rem .5rem 0 .5rem;
}
.responsiveabout {
  width: 40%;
  height: auto;
}
.responsivetoken{
  width: 100%;
  height: auto;
}
.token {
  margin-top: -15px;
}

}
