.features {
  text-align: left;
  margin:  0 13rem;
}

.features main {
  padding: 0;
  text-align: left;
}
.feature {
  margin-top: 2rem;
  background: linear-gradient(90deg, rgba(70, 165, 255, 0.2) 0%, rgba(74, 176, 255, 0.152) 0%, rgba(198, 40, 247, 0.164) 104.87%);
  border-radius: 1rem;
  padding: 1rem;
}

.feature h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.feature-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-gap: 1rem;
}

@media (max-width: 520px) {
  .feature-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  }
}

.feature img {
  width: 3rem;
}
.features main > p {
    margin-top: 8rem;
  }

 @media (max-width: 1500px) {
 .responsive {
    width: 30%;
    height: auto;
    margin-top: 5.8rem;
  }
.features {
    margin: 0 6rem;
  }

}
/* @media (max-width: 800px) {
  .features {
    margin: 5rem 1rem;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
} */
@media only screen and (max-width: 600px) {
  .responsive {
    width: 30%;
    height: auto;
    margin-top: 2rem;
  }
  .features {
    margin: 5rem 1rem;
  }
  .feature .subheading {
    font-size: 1.8em;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
}
