@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

.tokens {
  margin-top: 15rem;
  /* font-family: "Arvo", serif; */
}
.tokenomics-info {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tokenomics-info .parition {
  width: 4rem;
  margin: 0 3rem;
}

@media (max-width: 760px) {
  .tokenomics-info > img {
    width: 450px;
    margin-right: 0;
  }
  .tokens {
    margin-top: 3rem;
  }
  .tokenomics-info .parition {
    display: none;
  }
}


.token-distribution > h1 {
  font-size: 3.5em;
}
.token-distribution > img {
  width: 50rem;
}
@media (max-width: 980px) {
  .token-distribution img {
    width: 40rem;
  }
  .tokenomics-info .parition {
    /* display: none; */
    width: 3rem;
  }
  .tokenomics-info img {
    width: 30rem;
    margin-bottom: 1rem;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
  
}
@media (max-width: 920px) {
  .tokenomics-info {
    flex-wrap: wrap;
  }
  .tokenomics-info .parition {
    display: none;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
}
.tokens-card {
  background: linear-gradient(
    90deg,
    rgba(74, 176, 255, 0.1064) 0%,
    rgba(70, 165, 255, 0.14) 0%,
    rgba(198, 40, 247, 0.0616) 104.87%
  );
  position: relative;
  border-image-source: linear-gradient(89.72deg, #f1e71a 0.22%, #d515fe 99.75%);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #bdb972, #d515fe) 1;
  margin: 1rem;
  width: 300px;
  padding: 0 2rem;
  text-align: left;
  font-size: 1.2em;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-sizing: border-box; */
}
.tokens-card > h4 {
  background: linear-gradient(to bottom, #f1e71a, #d515fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 1.4em;
}
.tokens-card:after {
  content: "";
  position: absolute;
  top: -0px;
  left: -6px;
  right: -15px;
  bottom: -6px;
  opacity: 0.7;
  border-left: 1px solid #ffea00;
  border-bottom: 1px solid #ffea00;
  width: 100%;
  z-index: -1;
}
@media (max-width: 1500px) {
  .tokenomics {
    margin-top: -10rem;
  }
  .token-distribution {
    margin-top: 7rem;
  }
  .responsiveMtoken{
    width: 75%;
    height: auto;
  }
  .token-distribution > .responsiveDist > img{
    width: 85%;
    height: auto;
  }
}
@media (max-width: 720px) {
  .token-distribution > img {
    width: 35rem;
  }
  .tokens-card {
    width: 250px;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
  .token-distribution > .responsiveDist > img{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 620px) {
  .token-distribution > img {
    width: 30rem;
  }
  .token-distribution > h1 {
    font-size: 3em;
  }
  .tokenomics-info img {
    width: 20rem;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
  .token-distribution > .responsiveDist > img{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 520px) {
  .tokenomics-info > img {
    width: 350px;
  }
  .token-distribution {
    margin-top: 3rem;
  }
  .token-distribution > img {
    width: 20rem;
  }
  .token-distribution > h1 {
    font-size: 3em;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
  .token-distribution > .responsiveDist > img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 420px) {
  .tokenomics-info > img {
    width: 300px;
  }
  .tokenomics {
    margin-top: 0rem;
  }
  .token-distribution {
    margin-top: 3rem;
  }
  .token-distribution > img {
    width: 25rem;
  }
  .token-distribution > h1 {
    font-size: 3em;
  }
  .responsiveMtoken{
    width: 100%;
    height: auto;
  }
  .token-distribution > .responsiveDist > img{
    width: 100%;
    height: auto;
  }
}